<!DOCTYPE html>
<html  ng-app="myApp">

<head>
    <meta charset="utf-8" />
    <title>Plan Your Travel | Home</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/search.css">
    <!--css-->
    <style type="text/css">
.angular-google-map-container {
  height: 1000px;
  width: 1200px; }
    </style>
</head>

<body ng-controller="mapCtrl">
    <h1>Compare Locations</h1>
                    <select ng-model="LocationA" ng-options="x.name for x in locdata" ng-change="coordsA()"></select>
                    
                    <select ng-model="LocationB" ng-options="x.name for x in locdata" ng-change="coordsB()"></select>
                    <button ng-click="coordsA()">Show on Map</button>


                    <table>
                        <tr>
                            <td>
                                <div class="moreinfo">
                                    <p class="title">{{LocationA.name}}</p>
                                    <img class="photo" src="{{LocationA.image}}">
                                    <p class="description">{{LocationA.description}}</p>
                                    <p class="description">{{"Price: $ " + LocationA.price}}</p> 
                                </div> 
                            </td>
                            <td>
                                <div class="moreinfo">
                                        <p class="title">{{LocationB.name}}</p>
                                        <img class="photo" src="{{LocationB.image}}">
                                        <p class="description">{{LocationB.description}}</p>
                                        <p class="description">{{"Price: $ " + LocationB.price}}</p> 
                                </div> 
                            </td>
                         </tr>
                        <th colspan="2"> 
                                <p class="description">{{"Distance between the TWO selected locations:  " + distance + "km"}}</p> 
                            </th>
                    </table>
  <div class="container-fluid">
		<div class="row">
			<div class="container-fluid">
				<div class="row header">
          <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
            <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                      geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>
                      <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'">
                          <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'" modelsbyref="false" options="'self'">
                            </ui-gmap-markers>

                    </ui-gmap-google-map>
				</div>
			</div>
		</div>
</div>
</body>

</html>
