<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/login.css">
</head>
<body>
    <h1>Welcome, Please Log in Bellow</h1>
    <div id="loginForm">
        <div class="input">
            <input class="boxes" type="text" ng-model= "username" placeholder="Username">
        </div>
        <div class="input">
            <input class="boxes" type="text" ng-model= "password" placeholder="Password">
        </div>
        <div class= "input">
            <button ng-click="login()">Login</button>
        </div>
    </div>
    <div>
    <h2>No Account? Sign Up its quick and easy.</h2>
    <div id="registerForm">
        <div class="input">
            <input class="boxes" type="text"  placeholder="Username">
        </div>
        <div class="input">
            <input class="boxes" type="text"  placeholder="Password">
        </div>
        <div class= "input">
            <button ng-click="login()">Register</button>
        </div>
    </div>
    </div>
</body>
</html>

