<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/login.css">
</head>
<body>
    <div class="container-fluid" > 
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="spacing">
                    <h1 class="title">Welcome, Please Log in Bellow</h1>
                </div>
                <form name="loginForm">
                    <div class="input">
                        <input class="boxes" type="text" ng-model= "username" placeholder="Username" required>
                    </div>
                    <div class="input">
                        <input class="boxes" type="text" ng-model= "password" placeholder="Password" required>
                    </div>
                    <div class= "input">
                        <button class="button" ng-click="login()">Login</button>
                    </div>
                </form>
                <div>
                <h2 class="title">No Account? Sign Up its quick and easy.</h2>

                    <form name="registerForm" ng-click="register">
                        <div class="input">
                            <input class="boxes" type="text" name="username1" ng-model= "username1" placeholder="Username" required>
                        </div>
                        <div class="input">
                            <input class="boxes" type="text" name="password1" ng-model= "password1" placeholder="Password" required>
                        </div>
                        <div class="input">
                            <input class="boxes" type="text" name="fname" ng-model= "fname" placeholder="First Name" required>
                        </div>
                        <div class="input">
                            <input class="boxes" type="text" name="lname" ng-model= "lname" placeholder="Last Name" required>
                        </div>
                        <div class="input">
                            <input class="boxes" type="email" name="email" ng-model= "email" placeholder="Email" required>
                        </div>
                        <div class="input">
                            <input class="boxes" type="text" name="address" ng-model= "address"  placeholder="Address" required>
                        </div>
                        <div class="input">
                            <input class="boxes" type="text" name="phone" ng-model= "phone" placeholder="Phone #" required>
                        </div>
                        <div class= "input">
                            <button class="button" type="submit" ng-click="register()">Register</button>
                        </div>                       
                    </form>
                </div>
            </div>
            </div>
            <div class="col-3"></div>
        </div>
       
</body>
</html>

