<html>
    <head>
    <title>Plan Your Travel | Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/search.css">
    </head>
    <body ng-controller="searchController">
        <div class="container-fluid" > 
            <div class="row">
                <div class="col-4">
                    <div  class="table">
                        <div class="title" id="search">
                        Country Search:
                        <input type="text" ng-model="search"/>
                    </div>
                    <table>
                        <tr>
                            <th>
                                <a href="" ng-click="sortField='name'; reverse=!reverse">Name</a>
                            </th>
                            <th>
                                <a href="" ng-click="sortField='country'; reverse=!reverse">Country </a>
                            </th>
                            <th>
                                <a href="" ng-click="sortField='price'; reverse=!reverse">Price</a>
                            </th>
                        </tr>
                        <tr ng-repeat="x in locdata | filter:search | orderBy:sortField:reverse">
                            
                            <td>
                                <a ng-click="onClick(x)" href="">{{x.name}}</a></td>
                            <td>{{x.country}}</td>
                            <td>{{x.price}}</td>
                        </tr>
                    </table>
                </div>
            </div>
                <div class="col-8">
                    <div class="moreinfo">
                    <p class="title">{{name}}</p>
                    <img class="photo" src="{{image}}">
                    <p class="description">{{description}}</p>
                    <p class="description">{{"Price of this Trip will be: $ " + price}}</p>
                    </div>       
                </div>
            </div>
        </div>
    </body>
    </html>
        